* {
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex: 1;
}

@font-face {
  font-family: 'baseui-icons';
  src: url(../../fonts/baseui-icons.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
